In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Wednesday

In [19]:
repo_url = 'https://raw.githubusercontent.com/baertsch/MGT-530-SLO/main/'
wed_df = pd.read_csv(repo_url+'demand_wed.csv')
dm_wed = pd.read_csv(repo_url+'data/dm_mercredi.csv',header=None)

In [20]:
to_exclude = wed_df[wed_df['adjusted_demand_wed']==0]['index'].values.tolist()
to_exclude

[70,
 82,
 100,
 101,
 102,
 107,
 108,
 112,
 113,
 117,
 125,
 127,
 131,
 134,
 136,
 137,
 138,
 140,
 141,
 143,
 144,
 145,
 147,
 150,
 153,
 155,
 156,
 157,
 158,
 159,
 162,
 164,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 174,
 175,
 176,
 177,
 179,
 180,
 181,
 182,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 212,
 213,
 214,
 215,
 216,
 218,
 219,
 220,
 221,
 223,
 224,
 225,
 226,
 227,
 228,
 230,
 231,
 232,
 233,
 234,
 236,
 237]

In [10]:
dm_wed

,0,1,2,3,4,5,6,7,8,9,...,321,322,323,324,325,326,327,328,329,330
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,2.0000,3.0000,4.0000,...,226.0000,227.0000,228.0000,230.0000,231.0000,232.0000,233.0000,234.0000,236.0000,237.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,64.7759,66.2471,67.3176,68.5917,68.6752,69.3386,69.9441,72.1044,74.0778,77.0503
2,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,64.7759,66.2471,67.3176,68.5917,68.6752,69.3386,69.9441,72.1044,74.0778,77.0503
3,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,64.7759,66.2471,67.3176,68.5917,68.6752,69.3386,69.9441,72.1044,74.0778,77.0503
4,1.0,2.6786,2.6786,2.6786,inf,inf,inf,3.9804,3.0074,5.6066,...,66.9319,64.3614,69.4735,70.7477,70.8312,71.4946,68.0584,74.2604,76.2338,79.2062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,232.0,69.3386,69.3386,69.3386,71.4946,71.4946,71.4946,69.4933,71.6967,69.3463,...,13.2488,107.0621,4.7761,25.1109,48.8300,inf,112.0229,10.1314,51.9416,9.3360
327,233.0,69.9441,69.9441,69.9441,68.0584,68.0584,68.0584,69.8029,65.9490,69.6334,...,107.9229,5.5109,110.0019,112.2001,80.1927,112.0229,inf,115.5113,85.9790,120.4571
328,234.0,72.1044,72.1044,72.1044,74.2604,74.2604,74.2604,72.2591,74.4625,72.1121,...,16.2099,109.8279,7.4100,24.8423,28.5708,10.1314,115.5113,inf,31.4998,18.1614
329,236.0,74.0778,74.0778,74.0778,76.2338,76.2338,76.2338,74.2325,76.4359,74.0855,...,46.2638,80.2956,38.5940,55.4904,8.6894,51.9416,85.9790,31.4998,inf,57.1422
330,237.0,77.0503,77.0503,77.0503,79.2062,79.2062,79.2062,77.2050,79.4084,77.0580,...,14.8122,114.7738,12.1892,20.1333,54.1762,9.3360,120.4571,18.1614,57.1422,inf

In [13]:
dm_wed = dm_wed[~dm_wed[0].isin(to_exclude)]

In [14]:
dm_wed

,0,1,2,3,4,5,6,7,8,9,...,321,322,323,324,325,326,327,328,329,330
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,2.0000,3.0000,4.0000,...,226.0000,227.0000,228.0000,230.0000,231.0000,232.0000,233.0000,234.0000,236.0000,237.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,64.7759,66.2471,67.3176,68.5917,68.6752,69.3386,69.9441,72.1044,74.0778,77.0503
2,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,64.7759,66.2471,67.3176,68.5917,68.6752,69.3386,69.9441,72.1044,74.0778,77.0503
3,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,64.7759,66.2471,67.3176,68.5917,68.6752,69.3386,69.9441,72.1044,74.0778,77.0503
4,1.0,2.6786,2.6786,2.6786,inf,inf,inf,3.9804,3.0074,5.6066,...,66.9319,64.3614,69.4735,70.7477,70.8312,71.4946,68.0584,74.2604,76.2338,79.2062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,160.0,37.8368,37.8368,37.8368,39.9928,39.9928,39.9928,37.9915,40.1949,37.8445,...,29.3371,76.1064,31.8787,33.1529,33.2091,33.8998,81.4953,36.6656,38.6117,41.6115
263,161.0,38.1101,38.1101,38.1101,40.2660,40.2660,40.2660,38.2647,40.4681,38.1177,...,29.6155,76.3848,32.1571,33.4313,32.3264,34.1781,81.7737,36.9440,37.7290,41.8898
265,163.0,38.4266,38.4266,38.4266,40.5826,40.5826,40.5826,38.5813,40.7847,38.4343,...,91.0558,100.4735,93.5975,94.8717,94.9551,95.6185,104.1705,98.3843,100.3577,103.3302
267,165.0,38.9650,38.9650,38.9650,37.1648,37.1648,37.1648,41.6522,39.2320,42.3053,...,105.2350,88.9499,107.7767,109.0508,109.1343,109.7977,92.6469,112.5635,114.5369,117.5094
275,173.0,40.1119,40.1119,40.1119,42.2679,42.2679,42.2679,40.2666,42.4700,40.1196,...,92.8899,102.3076,95.4315,96.7057,96.7891,97.4525,106.0046,100.2184,102.1918,105.1642

In [15]:
test =  dm_wed.loc[:, ~dm_wed.loc[0].isin(to_exclude)]
test

,0,1,2,3,4,5,6,7,8,9,...,246,250,252,253,256,262,263,265,267,275
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,2.0000,3.0000,4.0000,...,142.0000,146.0000,148.0000,149.0000,154.0000,160.0000,161.0000,163.0000,165.0000,173.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,34.4754,35.1150,35.7612,35.7723,37.0502,37.8368,38.1101,38.4266,38.9650,40.1119
2,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,34.4754,35.1150,35.7612,35.7723,37.0502,37.8368,38.1101,38.4266,38.9650,40.1119
3,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,34.4754,35.1150,35.7612,35.7723,37.0502,37.8368,38.1101,38.4266,38.9650,40.1119
4,1.0,2.6786,2.6786,2.6786,inf,inf,inf,3.9804,3.0074,5.6066,...,32.5897,37.2709,33.8755,33.8866,39.2061,39.9928,40.2660,40.5826,37.1648,42.2679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,160.0,37.8368,37.8368,37.8368,39.9928,39.9928,39.9928,37.9915,40.1949,37.8445,...,67.6181,60.8330,68.9039,81.8360,2.8239,inf,2.3896,64.9919,83.3549,66.6772
263,161.0,38.1101,38.1101,38.1101,40.2660,40.2660,40.2660,38.2647,40.4681,38.1177,...,67.8913,61.1063,69.1771,82.1093,4.0103,2.3896,inf,65.2703,83.6333,66.9556
265,163.0,38.4266,38.4266,38.4266,40.5826,40.5826,40.5826,38.5813,40.7847,38.4343,...,68.2078,13.8851,69.4937,82.4258,64.1367,64.9919,65.2703,inf,24.1395,24.3427
267,165.0,38.9650,38.9650,38.9650,37.1648,37.1648,37.1648,41.6522,39.2320,42.3053,...,55.0692,32.2362,56.3550,69.2871,82.4996,83.3549,83.6333,24.1395,inf,39.5889
275,173.0,40.1119,40.1119,40.1119,42.2679,42.2679,42.2679,40.2666,42.4700,40.1196,...,69.8931,11.4951,71.1790,84.1111,65.8220,66.6772,66.9556,24.3427,39.5889,inf

In [16]:
dm_wed = test.copy()
dm_wed = dm_wed.reset_index(drop=True)
dm_wed

,0,1,2,3,4,5,6,7,8,9,...,246,250,252,253,256,262,263,265,267,275
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,2.0000,3.0000,4.0000,...,142.0000,146.0000,148.0000,149.0000,154.0000,160.0000,161.0000,163.0000,165.0000,173.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,34.4754,35.1150,35.7612,35.7723,37.0502,37.8368,38.1101,38.4266,38.9650,40.1119
2,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,34.4754,35.1150,35.7612,35.7723,37.0502,37.8368,38.1101,38.4266,38.9650,40.1119
3,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,34.4754,35.1150,35.7612,35.7723,37.0502,37.8368,38.1101,38.4266,38.9650,40.1119
4,1.0,2.6786,2.6786,2.6786,inf,inf,inf,3.9804,3.0074,5.6066,...,32.5897,37.2709,33.8755,33.8866,39.2061,39.9928,40.2660,40.5826,37.1648,42.2679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,160.0,37.8368,37.8368,37.8368,39.9928,39.9928,39.9928,37.9915,40.1949,37.8445,...,67.6181,60.8330,68.9039,81.8360,2.8239,inf,2.3896,64.9919,83.3549,66.6772
233,161.0,38.1101,38.1101,38.1101,40.2660,40.2660,40.2660,38.2647,40.4681,38.1177,...,67.8913,61.1063,69.1771,82.1093,4.0103,2.3896,inf,65.2703,83.6333,66.9556
234,163.0,38.4266,38.4266,38.4266,40.5826,40.5826,40.5826,38.5813,40.7847,38.4343,...,68.2078,13.8851,69.4937,82.4258,64.1367,64.9919,65.2703,inf,24.1395,24.3427
235,165.0,38.9650,38.9650,38.9650,37.1648,37.1648,37.1648,41.6522,39.2320,42.3053,...,55.0692,32.2362,56.3550,69.2871,82.4996,83.3549,83.6333,24.1395,inf,39.5889
236,173.0,40.1119,40.1119,40.1119,42.2679,42.2679,42.2679,40.2666,42.4700,40.1196,...,69.8931,11.4951,71.1790,84.1111,65.8220,66.6772,66.9556,24.3427,39.5889,inf

In [21]:
wed_df1 = wed_df[~wed_df['index'].isin(to_exclude)]
wed_df1.reset_index(drop=True, inplace=True)
wed_df1

,index,Commune,NPA,Commune d'annonce / District,full_demand_wed,distance_to_venoge_km,P_Y,adjusted_demand_wed
0,0,Penthaz,1303,Penthaz,100.0,0.74,0.979204,98
1,0,Penthaz,1303,Penthaz,100.0,0.74,0.979204,98
2,0,Penthaz,1303,Penthaz,46.0,0.74,0.979204,45
3,1,Penthalaz,1305,Penthalaz,100.0,2.72,0.969410,97
4,1,Penthalaz,1305,Penthalaz,100.0,2.72,0.969410,97
...,...,...,...,...,...,...,...,...
231,160,Clarens,1815,Montreux,56.0,37.78,0.027760,2
232,161,Blonay,1807,Montreux,59.0,38.06,0.026288,2
233,163,Gimel,1188,Gimel,26.0,38.37,0.024747,1
234,165,Le Solliat,1347,Le Chenit,32.0,39.01,0.021839,1
235,173,Prangins,1197,Prangins,38.0,40.06,0.017775,1

In [25]:
wed_df1.columns

Index(['index', 'Commune', 'NPA', 'Commune d'annonce / District',
       'full_demand_wed', 'distance_to_venoge_km', 'P_Y',
       'adjusted_demand_wed'],
      dtype='object')

In [23]:
wed_df.iloc[:,:6].to_csv('demand_wed_full.csv', index=False)

In [27]:
wed_df1[['index','Commune','NPA',"Commune d'annonce / District",'adjusted_demand_wed','distance_to_venoge_km']].to_csv('adjusted_demand_wed.csv', index=False)

In [31]:
dm_wed.to_csv('adjusted_dm_wed.csv', index=False, header=False)

# Thursday

In [28]:
thu_df = pd.read_csv(repo_url+'demand_thu.csv')
dm_thu = pd.read_csv(repo_url+'data/dm_jeudi.csv',header=None)

In [29]:
to_exclude_thu = thu_df[thu_df['adjusted_demand_thu']==0]['index'].values.tolist()
to_exclude_thu

[81,
 107,
 108,
 113,
 114,
 117,
 121,
 126,
 129,
 131,
 134,
 137,
 138,
 140,
 141,
 143,
 144,
 147,
 149,
 150,
 151,
 153,
 155,
 156,
 157,
 159,
 162,
 164,
 165,
 166,
 167,
 168,
 170,
 171,
 172,
 174,
 175,
 176,
 177,
 178,
 180,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 209,
 210,
 212,
 215,
 216,
 218,
 220,
 221,
 222,
 224,
 226,
 227,
 230,
 231,
 232,
 233,
 235,
 237,
 238]

In [32]:
dm_thu = dm_thu[~dm_thu[0].isin(to_exclude_thu)]
dm_thu = dm_thu.loc[:, ~dm_thu.loc[0].isin(to_exclude_thu)]
dm_thu = dm_thu.reset_index(drop=True)
dm_thu

,0,1,2,3,4,5,6,7,8,9,...,196,199,202,203,205,210,215,216,218,227
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,2.0000,3.0000,4.0000,...,139.0000,142.0000,145.0000,146.0000,148.0000,154.0000,160.0000,161.0000,163.0000,173.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,33.9993,34.4754,34.6501,35.1150,35.7612,37.0502,37.8368,38.1101,38.4266,40.1119
2,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,33.9993,34.4754,34.6501,35.1150,35.7612,37.0502,37.8368,38.1101,38.4266,40.1119
3,0.0,inf,inf,inf,2.6786,2.6786,2.6786,2.8743,4.0302,4.1759,...,33.9993,34.4754,34.6501,35.1150,35.7612,37.0502,37.8368,38.1101,38.4266,40.1119
4,1.0,2.6786,2.6786,2.6786,inf,inf,inf,3.9804,3.0074,5.6066,...,36.1552,32.5897,32.7644,37.2709,33.8755,39.2061,39.9928,40.2660,40.5826,42.2679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,154.0,37.0502,37.0502,37.0502,39.2061,39.2061,39.2061,37.2048,39.4082,37.0578,...,19.6084,66.8314,67.5861,60.0464,68.1172,inf,2.8239,4.0103,64.1367,65.8220
189,160.0,37.8368,37.8368,37.8368,39.9928,39.9928,39.9928,37.9915,40.1949,37.8445,...,20.3951,67.6181,68.3728,60.8330,68.9039,2.8239,inf,2.3896,64.9919,66.6772
190,161.0,38.1101,38.1101,38.1101,40.2660,40.2660,40.2660,38.2647,40.4681,38.1177,...,20.6683,67.8913,68.6460,61.1063,69.1771,4.0103,2.3896,inf,65.2703,66.9556
191,163.0,38.4266,38.4266,38.4266,40.5826,40.5826,40.5826,38.5813,40.7847,38.4343,...,46.0341,68.2078,68.9625,13.8851,69.4937,64.1367,64.9919,65.2703,inf,24.3427
192,173.0,40.1119,40.1119,40.1119,42.2679,42.2679,42.2679,40.2666,42.4700,40.1196,...,47.7194,69.8931,70.6478,11.4951,71.1790,65.8220,66.6772,66.9556,24.3427,inf

In [33]:
thu_df1 = thu_df[~thu_df['index'].isin(to_exclude_thu)]
thu_df1.reset_index(drop=True, inplace=True)
thu_df1

,index,Commune,NPA,Commune d'annonce / District,full_demand_thu,distance_to_venoge_km,P_Y,adjusted_demand_thu
0,0,Penthaz,1303,Penthaz,100.0,0.74,0.979204,98
1,0,Penthaz,1303,Penthaz,100.0,0.74,0.979204,98
2,0,Penthaz,1303,Penthaz,68.0,0.74,0.979204,67
3,1,Penthalaz,1305,Penthalaz,100.0,2.72,0.969410,97
4,1,Penthalaz,1305,Penthalaz,100.0,2.72,0.969410,97
...,...,...,...,...,...,...,...,...
187,154,La Tour-de-Peilz,1814,La Tour-de-Peilz,73.0,37.00,0.032295,2
188,160,Clarens,1815,Montreux,20.0,37.78,0.027760,1
189,161,Blonay,1807,Montreux,48.0,38.06,0.026288,1
190,163,Gimel,1188,Gimel,33.0,38.37,0.024747,1
191,173,Prangins,1197,Prangins,30.0,40.06,0.017775,1

In [34]:
thu_df.iloc[:,:6].to_csv('demand_thu_full.csv', index=False)

In [35]:
thu_df1[['index','Commune','NPA',"Commune d'annonce / District",'adjusted_demand_thu','distance_to_venoge_km']].to_csv('adjusted_demand_thu.csv', index=False)

In [36]:
dm_thu.to_csv('adjusted_dm_thu.csv', index=False, header=False)

# Friday

In [37]:
fri_df = pd.read_csv(repo_url+'demand_fri.csv')
dm_fri = pd.read_csv(repo_url+'data/dm_vendredi.csv',header=None)

In [38]:
to_exclude_fri = fri_df[fri_df['adjusted_demand_fri']==0]['index'].values.tolist()
to_exclude_fri

[78,
 96,
 99,
 100,
 103,
 107,
 109,
 110,
 111,
 112,
 113,
 116,
 118,
 124,
 126,
 129,
 131,
 132,
 133,
 134,
 136,
 139,
 143,
 145,
 146,
 147,
 148,
 149,
 150,
 153,
 155,
 156,
 157,
 158,
 159,
 160,
 162,
 163,
 165,
 166,
 167,
 168,
 169,
 170,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 183,
 184,
 185,
 186,
 188,
 189,
 190,
 192,
 195,
 197,
 198,
 199,
 203,
 204,
 205,
 206,
 207,
 210,
 211,
 212,
 215,
 216,
 217,
 218,
 220,
 221,
 223,
 224,
 226,
 227,
 228,
 229,
 230,
 233]

In [39]:
dm_fri

,0,1,2,3,4,5,6,7,8,9,...,230,231,232,233,234,235,236,237,238,239
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,2.0000,3.0000,4.0000,5.0000,...,220.0000,221.0000,223.0000,224.0000,226.0000,227.0000,228.0000,229.0000,230.0000,233.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,59.8496,59.8536,62.5652,62.8827,64.7759,66.2471,67.3176,68.2641,68.5917,69.9441
2,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,59.8496,59.8536,62.5652,62.8827,64.7759,66.2471,67.3176,68.2641,68.5917,69.9441
3,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,59.8496,59.8536,62.5652,62.8827,64.7759,66.2471,67.3176,68.2641,68.5917,69.9441
4,1.0,2.6786,2.6786,2.6786,inf,inf,3.9804,3.0074,5.6066,6.3144,...,62.0056,62.0096,60.6795,60.9970,66.9319,64.3614,69.4735,66.3784,70.7477,68.0584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,227.0,66.2471,66.2471,66.2471,64.3614,64.3614,66.1058,62.2520,65.9364,67.4271,...,98.5562,97.4197,4.1207,6.5749,102.5340,inf,105.0411,8.1525,106.3152,5.5109
236,228.0,67.3176,67.3176,67.3176,69.4735,69.4735,67.4723,69.6757,67.3252,66.7452,...,34.5402,12.6955,101.3570,104.2563,11.2277,105.0411,inf,106.9890,22.9980,110.0019
237,229.0,68.2641,68.2641,68.2641,66.3784,66.3784,68.1229,64.2690,67.9534,69.4441,...,100.9323,99.7958,5.7476,3.8317,104.9101,8.1525,106.9890,inf,108.9857,4.2705
238,230.0,68.5917,68.5917,68.5917,70.7477,70.7477,68.7464,70.9498,68.5994,68.0194,...,35.8143,11.3993,102.6311,105.5305,6.7448,106.3152,22.9980,108.9857,inf,112.2001
239,233.0,69.9441,69.9441,69.9441,68.0584,68.0584,69.8029,65.9490,69.6334,71.1241,...,103.9451,102.8086,7.8177,6.8446,107.9229,5.5109,110.0019,4.2705,112.2001,inf

In [40]:
dm_fri = dm_fri[~dm_fri[0].isin(to_exclude_fri)]
dm_fri = dm_fri.loc[:, ~dm_fri.loc[0].isin(to_exclude_fri)]
dm_fri = dm_fri.reset_index(drop=True)
dm_fri

,0,1,2,3,4,5,6,7,8,9,...,156,157,159,161,162,168,171,180,187,196
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,2.0000,3.0000,4.0000,5.0000,...,122.0000,123.0000,125.0000,127.0000,128.0000,135.0000,142.0000,154.0000,161.0000,171.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,32.0125,32.0967,32.3905,32.7200,32.0435,33.7072,34.4754,37.0502,38.1101,39.9066
2,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,32.0125,32.0967,32.3905,32.7200,32.0435,33.7072,34.4754,37.0502,38.1101,39.9066
3,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,32.0125,32.0967,32.3905,32.7200,32.0435,33.7072,34.4754,37.0502,38.1101,39.9066
4,1.0,2.6786,2.6786,2.6786,inf,inf,3.9804,3.0074,5.6066,6.3144,...,34.1684,34.2526,34.5464,34.8760,31.6157,31.8215,32.5897,39.2061,40.2660,38.0209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,135.0,33.7072,33.7072,33.7072,31.8215,31.8215,33.5660,29.7122,33.3966,34.8872,...,61.4767,61.5609,61.9255,62.2550,21.1528,inf,17.8960,66.6171,67.6770,32.1315
149,142.0,34.4754,34.4754,34.4754,32.5897,32.5897,34.3341,30.4803,34.1647,35.6554,...,62.2449,62.3291,62.6936,63.0232,35.8665,17.8960,inf,66.8314,67.8913,17.3062
150,154.0,37.0502,37.0502,37.0502,39.2061,39.2061,37.2048,39.4082,37.0578,36.4778,...,5.6124,4.8667,57.3219,57.6514,46.8350,66.6171,66.8314,inf,4.0103,72.8318
151,161.0,38.1101,38.1101,38.1101,40.2660,40.2660,38.2647,40.4681,38.1177,37.5377,...,8.0923,7.3467,58.3818,58.7113,41.2221,67.6770,67.8913,4.0103,inf,73.9654
152,171.0,39.9066,39.9066,39.9066,38.0209,38.0209,39.7653,35.9115,39.5959,41.0866,...,67.6761,67.7603,68.1248,68.4544,53.1810,32.1315,17.3062,72.8318,73.9654,inf

In [42]:
fri_df1 = fri_df[~fri_df['index'].isin(to_exclude_fri)]
fri_df1.reset_index(drop=True, inplace=True)
fri_df1

,index,Commune,NPA,Commune d'annonce / District,full_demand_fri,distance_to_venoge_km,P_Y,adjusted_demand_fri
0,0,Penthaz,1303,Penthaz,100.0,0.74,0.979204,98
1,0,Penthaz,1303,Penthaz,100.0,0.74,0.979204,98
2,0,Penthaz,1303,Penthaz,51.0,0.74,0.979204,50
3,1,Penthalaz,1305,Penthalaz,100.0,2.72,0.969410,97
4,1,Penthalaz,1305,Penthalaz,100.0,2.72,0.969410,97
...,...,...,...,...,...,...,...,...
147,135,Yvonand,1462,Yvonand,21.0,33.65,0.061226,1
148,142,Champagne,1424,Champagne,18.0,34.42,0.052950,1
149,154,La Tour-de-Peilz,1814,La Tour-de-Peilz,27.0,37.00,0.032295,1
150,161,Blonay,1807,Montreux,23.0,38.06,0.026288,1
151,171,La Sagne (Ste-Croix),1450,Sainte-Croix,31.0,39.85,0.018524,1

In [43]:
fri_df.iloc[:,:6].to_csv('demand_fri_full.csv', index=False)
fri_df1[['index','Commune','NPA',"Commune d'annonce / District",'adjusted_demand_fri','distance_to_venoge_km']].to_csv('adjusted_demand_fri.csv', index=False)
dm_fri.to_csv('adjusted_dm_fri.csv', index=False, header=False)

# Saturday

In [44]:
sat_df = pd.read_csv(repo_url+'demand_sat.csv')
dm_sat = pd.read_csv(repo_url+'data/dm_samedi.csv',header=None)

In [45]:
to_exclude_sat = sat_df[sat_df['adjusted_demand_sat']==0]['index'].values.tolist()
to_exclude_sat

[88,
 91,
 92,
 95,
 100,
 105,
 107,
 108,
 112,
 113,
 116,
 120,
 124,
 127,
 130,
 131,
 133,
 136,
 140,
 141,
 142,
 143,
 144,
 146,
 148,
 150,
 152,
 153,
 155,
 156,
 157,
 158,
 159,
 160,
 162,
 164,
 165,
 166,
 167,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 180,
 181,
 182,
 183,
 184,
 185,
 188,
 189,
 191,
 192,
 193,
 194,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 205,
 206,
 207,
 210,
 212,
 215,
 216,
 217,
 218,
 220,
 221,
 224,
 225,
 226,
 227,
 230,
 232,
 233,
 237,
 238]

In [46]:
dm_sat

,0,1,2,3,4,5,6,7,8,9,...,239,240,241,242,243,244,245,246,247,248
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,2.0000,3.0000,4.0000,5.0000,...,221.0000,224.0000,225.0000,226.0000,227.0000,230.0000,232.0000,233.0000,237.0000,238.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,59.8536,62.8827,64.2905,64.7759,66.2471,68.5917,69.3386,69.9441,77.0503,89.0705
2,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,59.8536,62.8827,64.2905,64.7759,66.2471,68.5917,69.3386,69.9441,77.0503,89.0705
3,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,59.8536,62.8827,64.2905,64.7759,66.2471,68.5917,69.3386,69.9441,77.0503,89.0705
4,1.0,2.6786,2.6786,2.6786,inf,inf,3.9804,3.0074,5.6066,6.3144,...,62.0096,60.9970,62.4048,66.9319,64.3614,70.7477,71.4946,68.0584,79.2062,91.2265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,230.0,68.5917,68.5917,68.5917,70.7477,70.7477,68.7464,70.9498,68.5994,68.0194,...,11.3993,105.5305,104.3907,6.7448,106.3152,inf,25.1109,112.2001,20.1333,50.9199
245,232.0,69.3386,69.3386,69.3386,71.4946,71.4946,69.4933,71.6967,69.3463,68.7662,...,14.7165,106.2773,105.1376,13.2488,107.0621,25.1109,inf,112.0229,9.3360,47.3711
246,233.0,69.9441,69.9441,69.9441,68.0584,68.0584,69.8029,65.9490,69.6334,71.1241,...,102.8086,6.8446,7.1139,107.9229,5.5109,112.2001,112.0229,inf,120.4571,101.6678
247,237.0,77.0503,77.0503,77.0503,79.2062,79.2062,77.2050,79.4084,77.0580,76.4779,...,18.3510,113.9890,112.8493,14.8122,114.7738,20.1333,9.3360,120.4571,inf,52.5393
248,238.0,89.0705,89.0705,89.0705,91.2265,91.2265,89.2252,91.4286,89.0782,88.4981,...,38.4334,95.1997,94.0599,41.6933,95.9844,50.9199,47.3711,101.6678,52.5393,inf

In [47]:
dm_sat = dm_sat[~dm_sat[0].isin(to_exclude_sat)]
dm_sat = dm_sat.loc[:, ~dm_sat.loc[0].isin(to_exclude_sat)]
dm_sat = dm_sat.reset_index(drop=True)
dm_sat

,0,1,2,3,4,5,6,7,8,9,...,165,167,168,170,173,175,177,188,195,197
0,NaN,0.0000,0.0000,0.0000,1.0000,1.0000,2.0000,3.0000,4.0000,5.0000,...,123.0000,125.0000,126.0000,128.0000,132.0000,135.0000,139.0000,154.0000,161.0000,163.0000
1,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,32.0967,32.3905,32.5254,32.0435,33.3832,33.7072,33.9993,37.0502,38.1101,38.4266
2,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,32.0967,32.3905,32.5254,32.0435,33.3832,33.7072,33.9993,37.0502,38.1101,38.4266
3,0.0,inf,inf,inf,2.6786,2.6786,2.8743,4.0302,4.1759,3.8779,...,32.0967,32.3905,32.5254,32.0435,33.3832,33.7072,33.9993,37.0502,38.1101,38.4266
4,1.0,2.6786,2.6786,2.6786,inf,inf,3.9804,3.0074,5.6066,6.3144,...,34.2526,34.5464,30.6397,31.6157,35.5391,31.8215,36.1552,39.2061,40.2660,40.5826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,135.0,33.7072,33.7072,33.7072,31.8215,31.8215,33.5660,29.7122,33.3966,34.8872,...,61.5609,61.9255,15.5415,21.1528,62.8902,inf,63.5662,66.6171,67.6770,67.9936
159,139.0,33.9993,33.9993,33.9993,36.1552,36.1552,34.1539,36.3573,34.0069,33.4269,...,14.4710,54.2710,62.4105,36.3796,55.2357,63.5662,inf,19.6084,20.6683,46.0341
160,154.0,37.0502,37.0502,37.0502,39.2061,39.2061,37.2048,39.4082,37.0578,36.4778,...,4.8667,57.3219,65.4614,46.8350,58.2866,66.6171,19.6084,inf,4.0103,64.1367
161,161.0,38.1101,38.1101,38.1101,40.2660,40.2660,38.2647,40.4681,38.1177,37.5377,...,7.3467,58.3818,66.5213,41.2221,59.3465,67.6770,20.6683,4.0103,inf,65.2703
162,163.0,38.4266,38.4266,38.4266,40.5826,40.5826,38.5813,40.7847,38.4343,35.2296,...,59.0652,13.9806,66.8379,67.4104,6.8943,67.9936,46.0341,64.1367,65.2703,inf

In [48]:
sat_df1 = sat_df[~sat_df['index'].isin(to_exclude_sat)]
sat_df1.reset_index(drop=True, inplace=True)
sat_df1

,index,Commune,NPA,Commune d'annonce / District,full_demand_sat,distance_to_venoge_km,P_Y,adjusted_demand_sat
0,0,Penthaz,1303,Penthaz,100.0,0.74,0.979204,98
1,0,Penthaz,1303,Penthaz,100.0,0.74,0.979204,98
2,0,Penthaz,1303,Penthaz,92.0,0.74,0.979204,90
3,1,Penthalaz,1305,Penthalaz,100.0,2.72,0.969410,97
4,1,Penthalaz,1305,Penthalaz,91.0,2.72,0.969410,88
...,...,...,...,...,...,...,...,...
157,135,Yvonand,1462,Yvonand,21.0,33.65,0.061226,1
158,139,La Conversion,1093,Lutry,15.0,33.94,0.057976,1
159,154,La Tour-de-Peilz,1814,La Tour-de-Peilz,63.0,37.00,0.032295,2
160,161,Blonay,1807,Montreux,31.0,38.06,0.026288,1
161,163,Gimel,1188,Gimel,22.0,38.37,0.024747,1

In [49]:
sat_df.iloc[:,:6].to_csv('demand_sat_full.csv', index=False)
sat_df1[['index','Commune','NPA',"Commune d'annonce / District",'adjusted_demand_sat','distance_to_venoge_km']].to_csv('adjusted_demand_sat.csv', index=False)
dm_sat.to_csv('adjusted_dm_sat.csv', index=False, header=False)